{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>确认订单</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">
    <link href="{% static 'css/amazeui.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">确认订单</a>
    </h1>
</header>
<form method="post" action="">
    {% csrf_token %}
    {% if address is None %}
        <div class="add-address">
            <a href="{% url 'user:添加地址' %}">+新建收货地址</a>
            <i class="am-icon-angle-right"></i>
        </div>
    {% else %}
        <h5 class="order-tit">收货人信息</h5>
        <div class="order-name">
            <a href="{% url 'user:地址列表' %}">
                <p class="order-tele">{{ address.username }}&nbsp;&nbsp;&nbsp;{{ address.phone }}</p>
                <p class="order-add">
                    {{ address.hcity }}{{ address.hproper }}{{ address.harea }} {{ address.brief }}</p>
            </a>
            <i class="am-icon-angle-right"></i>
        </div>
        <input type="hidden" name="address" value="{{ address.pk }}"/>
    {% endif %}
    <div style="background: #eee; height: 10px;"></div>
    <ul class="shopcart-list" style="padding-bottom: 0;">
        {% for goods_sku in goods_skus %}
            <li>
                <img src="{{ MEDIA_URL }}{{ goods_sku.shop_logo }}" class="shop-pic"/>
                <div class="order-mid">
                    <div class="tit">{{ goods_sku.spu_id.shop_name }} {{ goods_sku.shop_name }}</div>
                    <div class="order-price">￥{{ goods_sku.price }} <i>X{{ goods_sku.sales }}</i></div>
                </div>
                <input type="hidden" name="sku_ids" value="{{ goods_sku.pk }}">
            </li>
        {% endfor %}
    </ul>
    <ul class="order-infor">
        <li class="order-infor-first">
            <span>商品总计：</span>
            <i>￥<span id="goods_price">{{ goods_total_price }}</span></i>
        </li>
        <li class="order-infor-first">
            <span>运输方式：</span>
            <i>
                <select name="transport" id="transport">
                    {% for transport in transports %}
                        <option value="{{ transport.pk }}" price="{{ transport.price }}">
                            {{ transport.name }}-¥{{ transport.price }}
                        </option>
                    {% endfor %}
                </select>
            </i>
        </li>
        {#        <li class="order-infor-first">#}
        {#            <a href="">积分抵费></a>#}
        {#        </li>#}
        {#        <li class="order-infor-first">#}
        {#            <a href="">选择优惠券></a>#}
        {#        </li>#}
    </ul>
    <div style="background: #eee; height: 10px;"></div>
    <textarea placeholder="备注说明" class="bz-infor"></textarea>
    <div style="background: #eee; height: 10px;"></div>
    <div style="height: 55px;"></div>
    <div class="shop-fix">
        <div class="order-text">
            应付总额：<span>￥<i id="total_price">0.00</i></span>
        </div>
        <button style="border: 1px solid red;" class="js-btn">提交订单</button>
    </div>
</form>
<!--底部-->
<div style="height: 55px;"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-5">
        <li>
            <a href="{% url 'shop:首页' %}" class="">
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="message.html" class="">
                <span class="am-icon-comments"></span>
                <span class="am-navbar-label">动态</span>
            </a>
        </li>
        <li>
            <a href="{% url 'cart:展示购物车' %}" class="">
                <span class="am-icon-shopping-cart"></span>
                <span class="am-navbar-label">购物车</span>
            </a>
        </li>
        <li>
            <a href="{% url 'order:支付' %}" class="">
                <span class="am-icon-file-text"></span>
                <span class="am-navbar-label">订单</span>
            </a>
        </li>

        <li>
            <a href="{% url 'user:个人中心' %}" class="curr">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
<script>
    $(function () {
        //计算应付总金额
        function totalPrice() {
            //获取商品的总金额
            var goods_price = $("#goods_price").text();
            //获取运费
            var transport_price = $("#transport").find(":selected").attr('price');
            //订单总金额
            var total_price = Number(goods_price) + Number(transport_price);
            {#console.debug(total_price);#}
            $("#total_price").text(total_price.toFixed(2));
        }

        //调用
        totalPrice();

        //绑定修改事件
        $("#transport").on("change", function () {
            //重新计算价格
            totalPrice();
        });


        //绑定点击事件,提交订单数据
        $(".js-btn").on("click", function () {
            //准备数据
            var data = $("form").serialize();
            //发送ajax
            $.ajax({
                type: "post",
                url: "{% url 'orders:确认订单' %}",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.code == 0) {
                        //跳转到确认支付页面
                        location.href = "{% url 'orders:确认支付' %}?order_sn=" + data.data;
                    } else {
                        alert(data.errmsg);
                    }
                }
            });
        })
    });
</script>
</body>
</html>
