{% extends 'public/parent.html' %}
{% load static %}
{% block title1 %}
    <title>忘记密码</title>
{% endblock %}
{% block title %}
    <a href="" class="">忘记密码</a>
{% endblock %}
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="phone" placeholder="请输入手机号" class="login-password">
    <a class="am-text-danger">{{ errors.phone.0 }}</a>
    <div class="yzm">
        <input type="text" class="reg-yzm" placeholder="输入验证码"/>
        <input type="submit" class="yzm-hq" value="获取验证码"/>
    </div>
    <input type="password" name="pwd1" placeholder="请输入密码" class="login-password">
     <a class="am-text-danger">{{ errors.pwd1.0 }}</a>
    <input type="password" name="pwd2" placeholder="确认密码" class="login-name">
     <a class="am-text-danger">{{ errors.pwd2.0 }}</a>
    <input type="submit" class="login-btn" value="立即提交">
{% endblock %}

